<%= video_tag "lunch.webm",:autoplay => true,:id => "fullscreen-bg", :controls => false, :loop => true, :size => "320x240", :muted => true %>
<div class="panel panel-default sign-log-in-panel">
  <div class="modal-header">
      <h2 class="text-center">Sign Up</h2>
  </div>
  <div class="modal-body">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <%= devise_error_messages! %>
                  <div class="field">
                      <%= f.email_field :email, autofocus: true, :class => "form-control form-control-custom login-inputs", :placeholder => "Email" %>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-xs-6">
                  <div class="field">
                      <%= f.text_field :first_name, autofocus: true, :class => "form-control form-control-custom login-inputs", :placeholder => "First Name"  %>
                  </div>
              </div>
              <div class="col-xs-6">
                  <div class="field">
                      <%= f.text_field :last_name, autofocus: true, :class => "form-control form-control-custom login-inputs", :placeholder => "Last Name"  %>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="field">
                      <%= f.text_field :city, :class => "form-control form-control-custom login-inputs", :placeholder => "City"  %>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="field">
                      <%= f.password_field :password, autocomplete: "off", :class => "form-control form-control-custom login-inputs", :placeholder => "Password"  %>
                  </div>
              </div>
              <div class="col-xs-12">
                  <div class="field">
                      <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control form-control-custom login-inputs",:placeholder => "Password Confirmation" %>
                  </div>
              </div>
          </div>
      </div>
      <div class="container">
          <div class="row">
              <div class="col-xs-12">
                  <div class="submitButton">
                      <div class="actions text-center">
                          <%= f.submit "Sign up",:class => "myButton" %>
                          <div class="text-center">
                            <%= render "devise/shared/links" %>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  <% end %>
</div>
