<div class="overflow">
    <%= video_tag "lunch.webm",:autoplay => true,:id => "fullscreen-bg", :controls => false, :loop => true, :size => "320x240", :muted => true %>
</div>

<div class="form_for">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <div class="panel panel-default edit-form">
    <div class="panel-heading text-center"><h3>Forgot Your Password?</h3>
    <div class="panel-body">
      <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
<p>
  <div class="actions">
    <%= f.submit "Reset Password" %>
  </div>
<% end %>
</p>

<%= render "devise/shared/links" %>
      </div>
    </div>
    </div>
  </div>
</div>
