<div id="restaurant-container" class="restaurant-container">

    <% if @businesses == nil %>
    <%= image_tag("lilguy.gif", :class => "lilguy") %>
<% else %>
    <!-- This is the loop for the API call -->
    <% @businesses.each_with_index do |business, index| %>
    <% @sugs = Suggestion.yelp_id_match(business["id"]) %>
    <!-- This is the loop to match the suggestions with yelp id -->

    <div class="panel rest-panel panel-default">
        <div class="panel-head">
            <div class="panel-title">
                <h3 class="text-center panel-head" id="business-name-<%= index %>"><%= business["name"] %></h3>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-xs-5">
                        <div class="row">
                            <% if business["image_url"] == nil %>
                            <% image_tag "https://www.royalcanin.com/~/media/Royal-Canin/Product-Categories/cat-breed-landing-hero.ashx"%>
                        <% else %>
                            <%= image_tag business["image_url"], class: "img-thumbnail rest-thumbnail item" %>
                            <% if business["location"]["display_address"] == nil %>
                            <h6>No address provided</h6>
                        <% else %>
                            <% end %>
                        </div>
                        <div class="row">
                            <h6 class="text-center">
                                <%= @test %>
                                <%= business["categories"].first.first %>
                            </h6>
                        </div>
                    </div>
                    <div class="col-xs-7">
                      <div class="modal-body quick-info">
                        <div class="text-right">
                          <a class="text-right" href="tel:+<%= business['phone'] %>"><%= business['display_phone'] %>
                              <span class="glyphicon glyphicon-phone"></span>
                          </a>
                        </div>
                          <div class="rest-info text-right">
                            <a class="rest-info text-right" href="<%= business["mobile_url"] %>">
                              Yelp Link   <i class="fa fa-yelp" aria-hidden="true"></i>
                            </a>
                          </div>
                          <div class="rest-info text-right">
                            <h4>Last Recommended Item</h4><br />
                            <% if @sugs[-1].menu_item == nil %>
                            <h5>No Recent Menu Items Recommended :(</h5>
                            <% else %>
                            <h5><%= @sugs[-1].menu_item %></h5>
                            <% end %>
                          </div>
                      </div>
                    <div class="container">
                        <div class="row">

                            </div>
                        </div>
                        <div class="container">
                          <div class="row">
                              <div class="col-xs-offset-7 col-xs-s5">

                              </div>
                          </div>
                        </div>
                    </div>
                </div>
                <% end %>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-6">
                        <button type="button" data-toggle="modal" data-target="#suggest<%= business['id'] %>">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                    </div>
                    <div class="col-xs-offset-4 col-xs-1">
                        <div class="spin">
                            <a class="dropdown" data-toggle="collapse" href="#collapse-<%= business['id'] %>">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </div>
                            <span><%= @sugs.count %></span></a>
                    </div>
                </div>
            </div>
            <div id="collapse-<%= business['id'] %>" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="more-rest-info">
                        <!-- Google Maps -->
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="container">
                                    <div class="row">
                                        <a href="https://www.google.com/maps/dir//<%= business['location']['coordinate']['latitude'] %>,+<%= business['location']['coordinate']['longitude'] %>/">
                                            <img
                                                class="rounded img-responsive"
                                                src="http://maps.googleapis.com/maps/api/staticmap?center=<%= business['location']['coordinate']['latitude'] %>,+<%= business['location']['coordinate']['longitude'] %>&zoom=17&scale=false&size=300x300&maptype=roadmap&format=png&visual_refresh=true&markers=icon:http://i.imgur.com/svyFpfv.png%7Cshadow:true%7C25.7650461623728,+-80.2514094779099"
                                                alt="Google Map of 25.7650461623728, -80.2514094779099">
                                        </a>
                                    </div>
                                </div>
                                <a href="https://www.google.com/maps/dir//<%= business['location']['coordinate']['latitude'] %>,+<%= business['location']['coordinate']['longitude'] %>/">
                                    <div class="row">
                                        <div class="col-xs-10">
                                        <li class="address">
                                            <% business["location"]["display_address"].each do |line| %>
                                            <%= line %>
                                            <% end %>
                                        </li>
                                    </div>
                                    <div class="col-xs-2 text-center">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!--End of Google Maps -->
                    <% @sugs.each do |sug| %>
                    <div class="panel panel-default">
                        <div class="model-head">
                            <h3 id="sug-user-name"><%= sug.users_name %></h3>
                            <h4 id="sig-users-city">
                                From:<br/>
                                <%= sug.users_city %></h4>
                            <p id="sug-menu-item">
                                Recommends:<br/>
                                <%= sug.menu_item %>
                            </p>
                            <p id="sug-body">
                                Heres more he has to say:
                                <br/>
                                <%= sug.body %>
                            </p>
                        </div>
                    </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade suggestion-modal" id="suggest<%= business['id'] %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <%= render "suggestion", suggestion: @suggestion, business: business %>
            </div>
        </div>
    </div>
</div>
<% end %>
<% end %>
