<div class="modal-header">
    <h3 class="text-center">Add a Suggestion</h3>
</div>
<div class="modal-body">
    <div class="field">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <%= form_for(suggestion, remote: true) do |f| %>
                    <%= f.text_field :menu_item, placeholder: "Menu Item You Loved!",class: "form-control form-control-custom" %>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <%= f.text_area :body, autofocus: true, placeholder: "Why do you suggest this place?", class: "form-control form-control-custom" %>
                    <%= f.hidden_field :yelp_id, value: business["id"] %>
                    <%= f.hidden_field :users_city, value: @users_city %>
                    <%= f.hidden_field :latitude, value: business["location"]["coordinate"]["latitude"] %>
                    <%= f.hidden_field :longitude, value: business["location"]["coordinate"]["longitude"] %>
                    <%= f.hidden_field :users_name, value: @users_name %>
                    <%#= f.text_field :hashtags %>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
              <div class="text-center">
                <%= f.submit 'Add a Suggestion', id: 'suggestion-submit',class: "myButtonLocation",:data => { disable_with: false } %>
                <% end %>
              </div>
            </div>
        </div>
    </div>
</div>
