<div class="home-container">
    <ul class="nav nav-tabs">
        <li id="rest-tab" role="presentation" class="take-all-space-you-can <%= 'active' if params[:city] != nil %>">
            <a class="render-restaurants text-center">Restaurants</a>
        </li>
        <li id="sugg-tab" role="presentation" class="take-all-space-you-can <%= 'active' if params[:origin] != nil %>">
            <a class="render-suggestions text-center">Suggestions</a>
        </li>
    </ul>
    <%=  %>
    <div class="partial-load"></div>
</div>

<div id="city" data-city="<%= @city %>"></div>
<div id="origin" data-origin="<%= @origin %>"></div>

<script type="text/javascript">
    $(function () {
        checkSuggestionPartial();
        checkRestaurantPartial();
        // renderSuggestions(); renderRestaurants();
    });

    function checkSuggestionPartial() {
        var origin = $('#origin').data().origin;
        if (origin) {
            renderSuggestions();

        }
    }

    $(".render-restaurants").click(function () {
        renderRestaurants();
    });

    $(".render-suggestions").click(function () {
        renderSuggestions();
    });

    function checkRestaurantPartial() {
        var city = $('#city').data().city;
        if (city) {
          renderRestaurants();

        }
    }

    function renderRestaurants() {
        if ($('.partial-load').children().hasClass("suggestion-container")) {
            $(".suggestion-container").replaceWith("<%= escape_javascript(render('get_restaurant'))%>");
            $("#rest-tab").addClass(" active");
            $('#sugg-tab').removeClass("active");
        } else {
            if ($('#restaurant-container').hasClass('restaurant-container')) {
                $(".restaurant-container").replaceWith("<%= escape_javascript(render('get_restaurant'))%>");
            } else {
                $('.partial-load').append("<%= escape_javascript(render('get_restaurant'))%>");
                $("#rest-tab").addClass(" active");
            }
        }
    }

    function renderSuggestions() {
        if ($('.partial-load').children().hasClass("restaurant-container")) {
            console.log('first if');
            $("#restaurant-container").replaceWith("<%= escape_javascript(render('suggestions/get_suggestions', suggestions: @suggestions))%>");
            $("#sugg-tab").addClass(" active");
            $('#rest-tab').removeClass("active");
        } else {
            console.log('else');
            if ($('#suggestion-container').hasClass('suggestion-container')) {
                console.log('inner if');
                $(".suggestion-container").replaceWith("<%= escape_javascript(render('suggestions/get_suggestions', suggestions: @suggestions))%>");
            } else {
                console.log('last else');
                $('.partial-load').append("<%= escape_javascript(render('suggestions/get_suggestions', suggestions: @suggestions))%>");
                $("#sugg-tab").addClass(" active");
            }
        }
    }
</script>
