<div class="home-container">
    <ul id="myTabs" class="nav nav-tabs">
        <li id="rest-tab" role="presentation" class="take-all-space-you-can active">
            <a href="#rest" class="render-restaurants text-center" data-toggle="tab">Restaurants</a>
        </li>
        <li id="sugg-tab" role="presentation" class="take-all-space-you-can <%= 'active' if params[:origin] != nil %>">
            <a href='#sugg' class="render-suggestions text-center" data-toggle="tab">Suggestions</a>
        </li>
    </ul>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <%= form_tag(home_index_path,:class => "input-group", :method => "get") do %>
                <%=  text_field_tag('origin', nil, placeholder: 'Type in a Zipcode, City or Street Address!', class: 'form-control form-control-V2 col-xs-9') %>
                <span class="input-group-btn"><%= submit_tag("Go!", class: "btn form-control-V2") %></span>
                <% end %>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <%= form_tag(home_index_url, :class => "input-group", :method => "get") do %>
                <%=  hidden_field('origin', nil, value: '',:name => 'origin', class: 'form-control form-control-V2 col-xs-offset-1', id: "hidden-latfield") %>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class=" actions text-center">
                    <%= submit_tag("Use My Location!", class: "myButtonLocation myButtonLocationV2") %>
                </div>
            </div>
            <% end %>
        </div>
    </div>

    <div class="partial-load"></div>
</div>
<div id="city" data-city="<%= @origin %>"></div>
<div id="origin" data-origin="<%= @origin %>"></div>

<script type="text/javascript">
    $(function () {
        $('#myTabs').click(function (e) {
            e.preventDefault();
            $(this).tab('active');
            console.log('show hash');
        });

        // store the currently selected tab in the hash value
        $("ul.nav-tabs > li > a").on("shown.bs.tab", function (e) {
            var id = $(e.target).attr("href").substr(1);
            window.location.hash = id;
            console.log('stored hash');
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#myTab a[href="' + hash + '"]').tab('show');
        console.log('WORKED');

        checkSuggestionPartial();
        checkRestaurantPartial();

    });

    $(".render-restaurants").click(function () {
        renderRestaurants();
    });

    $(".render-suggestions").click(function () {
        renderSuggestions();
    });

    function checkRestaurantPartial() {
        var city = $('#origin').data().city;
        if (city) {
            renderRestaurants();

        }
    }
    function checkSuggestionPartial() {
        var origin = $('#origin').data("origin")
        if (origin) {
            renderSuggestions();
        }
    }

    function renderRestaurants() {
        if ($('.partial-load').children().hasClass("suggestion-container")) {
            $(".suggestion-container").replaceWith("<%= escape_javascript(render('get_restaurant'))%>");
            $("#rest-tab").addClass(" active");
            $('#sugg-tab').removeClass("active");
            navigator.geolocation.getCurrentPosition(success, error, options);
        } else {
            if ($('#restaurant-container').hasClass('restaurant-container')) {
                $(".restaurant-container").replaceWith("<%= escape_javascript(render('get_restaurant'))%>");
                navigator.geolocation.getCurrentPosition(success, error, options);
            } else {
                $('.partial-load').append("<%= escape_javascript(render('get_restaurant'))%>");
                $("#rest-tab").addClass(" active");
                navigator.geolocation.getCurrentPosition(success, error, options);
            }
        }
    }

    function renderSuggestions() {
        if ($('.partial-load').children().hasClass("restaurant-container")) {
            $("#restaurant-container").replaceWith("<%= escape_javascript(render('suggestions/get_suggestions', suggestions: @suggestions))%>");
            $("#sugg-tab").addClass(" active");
            $('#rest-tab').removeClass("active");
            navigator.geolocation.getCurrentPosition(success, error, options);
        } else {
            if ($('#suggestion-container').hasClass('suggestion-container')) {
                console.log('inner if');
                $(".suggestion-container").replaceWith("<%= escape_javascript(render('suggestions/get_suggestions', suggestions: @suggestions))%>");
                navigator.geolocation.getCurrentPosition(success, error, options);
            } else {
                $('.partial-load').append("<%= escape_javascript(render('suggestions/get_suggestions', suggestions: @suggestions))%>");
                $("#sugg-tab").addClass(" active");
                navigator.geolocation.getCurrentPosition(success, error, options);
            }
        }

    }
</script>
