<%= video_tag "lunch.webm",:autoplay => true,:id => "fullscreen-bg", :controls => false, :size => "320x240", :muted => true, :loop => true %>
<% if user_signed_in? %>
  <div class="text-center">
    <div class>
        <h1 class="title text-center">Welcome Back</h1>
        <h1 class="title2 text-center"><%= current_user.first_name %></h1>
    </div>
    <%= button_to "Dashboard", home_index_path, {method: :get,class: 'login-btn text-center'}  %>
  </div>


  <% else %>
    <div class="text-center">
        <div>
          <h1 class="title text-center">Welcome To</h1>
          <h1 class="title2 text-center">Vittle</h1>
        </div>
        <div class="btn-group-vertical" role="group" aria-label="...">
            <button type="button" class='login-btn  text-center' data-toggle="modal" data-target="#signUp" type="button" name="button">Sign Up</button>
            <button type="button" class='login-btn text-center' data-toggle="modal" data-target="#logIn" type="button" name="button">Log In</button>
        </div>

    </div>
  <% end %>

  <div class="signup">
      <div class="modal fade" id="signUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <%= render "sign_up_modal" %>
              </div>
          </div>
      </div>
  </div>
  <div class="login">
      <div class="modal fade" id="logIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <%= render "login_modal" %>
              </div>
          </div>
      </div>
  </div>
