<%= video_tag "lunch.webm",:autoplay => true,:id => "fullscreen-bg", :controls => false, :loop => true, :size => "320x240", :muted => true %>

<div class="panel panel-default sign-log-in-panel">
  <div class="modal-header">
      <h2 class="text-center">Log In</h2>
  </div>

  <div class="modal-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="container">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                      <%= devise_error_messages! %>
                      <div class="field">
                          <%= f.email_field :email, autofocus: true, :class => "form-control login-inputs", :placeholder => "Username"%>
                      </div>
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-xs-12">
                      <%= devise_error_messages! %>
                      <div class="field">
                          <%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :class => "form-control login-inputs" %>
                      </div>
                  </div>
              </div>
              <% if devise_mapping.rememberable? -%>
              <div class="container">
                  <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                  </div>
              </div>
              <% end -%>
              <div class="container">
                  <div class="row">
                      <div class="col-xs-12">
                          <div class="submitButton">
                              <div class="actions text-center">
                                  <%= f.submit "Log in", :class => "myButton" %>
                                  <div class="text-center">
                                    <%= render "devise/shared/links" %>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <% end %>

</div>
