<!DOCTYPE html>
<html>
    <head>
        <title>Vittle</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <script src="https://use.fontawesome.com/e5fb6c5e43.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    </head>

    <body>
      <div class="hidden-xs">
        <div class="panel panel default text-center rest-panel">
          <h1 class"text-center">I'm sorry but Vittle isn't quite ready for larger screens yet.</h1><br />
          <h1 class="text-center">Please check us out on your mobile device though!</h1>
          <%= image_tag "qrcode.png", class: "center-block" %>
        </div>
        <%= image_tag "lilguymobile.gif",class: "img-responsive lilmobileguy center-block" %>
      </div>
      <div class="hidden-sm hidden-md hidden-lg hidden-xl">

        <nav class="navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-9">
                                <h1 class="navbar-title text-left">Vittle</h1>
                            </div>
                            <div class="col-xs-3">
                                <button id="nav-button" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <%= link_to 'Welcome Page', root_path %>
                        </li>
                        <%= render 'devise/menu/registration_items' %>
                        <%= render 'devise/menu/login_items' %>
                    </ul>
                </div>
            </div>
        </nav>

        <%= yield %>

      </div>
    </body>
</html>
