<!DOCTYPE html>
<html>
    <head>
        <title>Foodle</title>
        <%= csrf_meta_tags %>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
        <%= javascript_include_tag :defaults %>
        <%= javascript_include_tag 'rails' %>
        <script type="text/javascript">
            $(function () {
                $("#myModal").modal({show: false});
        </script>
    </head>

    <body>

        <%= yield %>
    </body>
</html>
